<% @questions.each do |question| %>
  <%= question.text %> <%= "(#{question.difficulty.name})" if question.difficulty %>
  <%= link_to 'Edit Question', edit_question_path(question) %>
  <ul>
    <% question.question_choices.each do |choice| %>
      <li><%= choice.text %> <%= '(Correct)' if choice.correct %></li>
    <% end %>
  </ul>
<% end %>
