<!DOCTYPE html>
<html>
<head>
  <title>G5jedi</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="whopper">
    <div id="header" class="saberborder">
      <a href="" class="logo">G5 Jedi</a>
      <form class="login-form">
        Login
        <input name="username" /><br />
        Password
        <input name="password" />
      </form>
      <div id="nav">
        <%= link_to 'All Topics', :topics %> | 
        <%= link_to 'New Topic', :new_topic %> | 
        <%= link_to 'All Quizzes', :quizzes %> | 
        <%= link_to 'New Quiz', :new_quiz %> | 
        <%= link_to 'All Questions', :questions %> | 
        <%= link_to 'New Question', :new_question %>
      </div>
    </div>
    <div id="middle" class="saberborder">
      <%= yield %>
      <div class="clear"></div>
    </div>

</body>
</html>
